*
{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6
{
    font-weight: normal;
}
ul
{
    list-style: none;
}
.container
{
    width: 80%;
    margin: auto;
}
.clr
{
    clear: both;
}
body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* Start Home */
.line-1
{
    background-color: #8e7754;
    width: 80px;
    height: 3px;
    position: absolute;
    top: 0;
    left: 50%
}

.nav
{
    height: 80px;
}
.nav .logo
{
    width: 30%;
    float: left;
}
.nav .logo img
{
    width: 50%;
    padding-top: 20px;
}
.nav .links
{
    width: 70%;
    float: left;
    margin-top: 15px;
    text-align: right;
    padding-top: 20px;
}
.nav .links li
{
    display: inline-block;
    margin: 0 10px;
    font-size: 20px;
}
.nav .links li a
{
    text-decoration: none;
    color: #fff;
    position: relative;
}
.home
{
    background-image: url(../images/drew-coffman-1872.jpg);
    height: 800px;
    background-size: 100% 100%;
}
.home .caption
{
    text-align: center;
    margin-top: 250px;
    color: #fff;
}
h1,h3
{
    font-weight: normal;
}
.caption h1
{
    font-size: 60px;
    margin: 15px 0;
}
.caption p
{
    margin-bottom: 15px;
    line-height: 1.6;
    font-size: 20px;
}
.btn1,.btn2
{
    border: none;
    border-radius: 3px;
    padding: 15px 20px;
    color: #fff;
    cursor: pointer;
}
.btn1
{
    background-color: #8e7754;
    margin-right: 10px;
}
.btn2
{
    background-color: transparent;
    border: 1px solid #fff;
}
@media  (max-width:576px)
{
    .nav .links
    {
        margin-top: 0;
    }
    .nav .links li
    {
        display: block;
        margin: 10px 0;
    }
    .nav .logo img
    {
        width: 100%;
        padding-top: 20px;
    }
    .line-1
    {
        position: absolute;
        left: 75%;
    } 
}

@media(min-width:577px) and (max-width:768px)
{
    .nav .links li
    {
        display: block;
        margin: 10px 0;
    }
    .nav .logo img
    {
        width: 100%;
        padding-top: 20px;
    }
    .line-1
    {
        position: absolute;
        left: 80%;
    }  
}
@media(min-width:769px) and (max-width:992px)
{
    .nav .logo img
    {
        width: 100%;
        padding-top: 20px;
    } 
    .line-1
    {
        position: absolute;
        left: 42%;
    }  
}
@media(min-width:993px)
{
    .line-1
    {
        position: absolute;
        left: 38%;
    }     
}

    
/* End Home */

/* Start About */
.about
{
    padding: 80px 0;
}
.about-img
{
    width: 50%;
    float: left;
    padding: 0 30px 0 0;
    box-sizing: border-box;
}
.about-img img
{
    width: 100%;
}
.about-info
{
    width: 50%;
    float: left;
    padding: 0px 0 20px 30px;
    box-sizing: border-box;
}
.about-info h1
{
    color: #303030;
}

.about-info p
{
    color: #686868;
    margin: 20px 0;
    line-height:1.8;
    font-size: 17px;
}
.div-main
{
    overflow: hidden;
}
div.image
{
    float: left;
}
div.paragraph
{
    float: left;
}
div.paragraph p
{
    margin-top: 10px;
}
@media  (max-width:576px)
{
    .about
    {
        margin-top: 20px;
    }
    .about-img
    {
        width: 100%;
        margin-bottom: 20px;
    }
    .about-info
    {
        width: 100%;
        padding-left: 0;
    }
    /*
    .about-img img
    {
    width: 100%;
    }
    */
}
@media(min-width:577px) and (max-width:768px)
{
    .about-img
    {
        width: 100%;
        margin-bottom: 20px;
    }
    .about-info
    {
        width: 100%;
        padding-left: 0;
    }
}

@media(min-width:769px) and (max-width:992px)
{
    .about-img
    {
        width: 100%;
        margin-bottom: 20px;
    }
    .about-info
    {
        width: 100%;
        padding-left: 0;
    } 
}
/* End About */

/* Start Location */
.location
{
    background-color: #F8F8F8;
    padding: 80px 0;
}
.location-content
{
    overflow: hidden;
}
.location-info
{
    width: 50%;
    float: left;
    padding: 40px 30px 40px 0;
    box-sizing: border-box;
}
.location-img
{
    width: 50%;
    float: left;
    padding-left: 30px;
    box-sizing: border-box;
}
.location-img img
{
    width: 100%;
}
.location-info h1
{
    color: #303030;
}
.location-info .desc
{
    margin: 30px 0; 
    color: #686868;
    line-height:1.8;
    font-size: 17px;
}
.location-info .desc2
{
    color: #686868;
    line-height:1.8;
    font-size: 17px;
}
@media (max-width:576px)
{
    .location-img
    {
        width: 100%;
        padding-left: 0;   
    }
    .location-info
    {
        width: 100%;
    }
}
@media (min-width:577px) and (max-width:768px)
{
    .location-info
    {
        width: 100%;
        
    }
    .location-img
    {
        width: 100%;
        padding-left: 0;
    }  
}
@media(min-width:769px) and (max-width:992px)
{
    .location-info
    {
        width: 100%;
        
    }
    .location-img
    {
        width: 100%;
        padding-left: 0;
    }  
}
/* End Location */

/* Start Baking */
.baking
{
    padding: 80px 0;
    text-align: center;
}
.baking h1
{
    color: #303030;  
}
.baking p
{
    margin: 30px 0 50px 0; 
    color: #686868;
    font-size: 17px;  
}
.baking-content
{
    overflow: hidden;
}
.baking-item
{
    width: 33.33%;
    float: left;
    box-sizing: border-box;
    padding: 0 15px;
}
.baking-item img
{
    width: 100%;
}
.baking-item h3
{
    color: #303030;
    margin: 20px 0;
}
.baking-item p
{
    color: #686868;
    line-height: 1.7;
    margin-top: 0;
}
@media(max-width:576px)
{
    .baking-item
    {
        width: 100%;
    }
}
@media(min-width:577px) and (max-width:768px)
{
    .baking-item
    {
        width: 100%;
    }
}
@media(min-width:769px) and (max-width:992px)
{
    .baking-item
    {
        width: 50%;
    }
}

/* End Baking */

/* Start Contact */
.contact
{
    background-color: #F8F8F8;
    padding: 80px 0;
}
.contact-info,
.contact-map
{
    width: 50%;
    float: left;
    box-sizing: border-box;
}
.contact-info
{
    padding-right: 20px;
}

.contact-info h1
{
    color: #303030;
    margin-bottom: 20px;  
}
.contact-info p
{
    color: #686868;
    margin-bottom: 30px;
    line-height: 1.7;
    font-size: 17px;  
}
.contact-info h3
{
    color: #686868;
    margin-bottom: 30px 
}
.contact-info ul
{
    margin-top: 0;
}
.contact-map
{
    padding-left: 20px;
}
@media(max-width:576px)
{
    .contact-info,
    .contact-map
    {
        width: 100%;
    }
    .contact-map
    {
        padding-left: 0;
        margin-top: 20px;
    }   
}
@media(min-width:577px) and (max-width:768px)
{
    .contact-info,
    .contact-map
    {
        width: 100%;
    }
    .contact-map
    {
        padding-left: 0;
        margin-top: 20px;
    }  
}
@media(min-width:769px) and (max-width:992px)
{
    .contact-info,
    .contact-map
    {
        width: 100%;
    }
    .contact-map
    {
        padding-left: 0;
        margin-top: 20px;
    }  
}
/* End Contact */

/* Start Blog */
.blog
{
    padding: 80px 0;
    background-color: #403D38;
}
.blog-info
{
    width: 25%;
    float: left;
    padding-right: 10px;
    box-sizing: border-box;
}
.blog-info h3
{
    color: #fff;
    margin-bottom: 20px;
}
.blog-info p
{
    color: #969696;
    line-height: 1.8;
    font-size: 16px;
    margin: 34px 0;
}
.blog-info ul li
{
    color: #969696;
    margin-bottom: 0;
}
ul li i
{
    margin-right: 8px;
}
.line
{
    display: block;
    background-color: #4A4742;
    height: 2px;
    width: 80%;
    margin: 10px 0;
}
.icon,
.text
{
    float: left;
    
}
@media(max-width:576px)
{
    .blog-info
    {
        width: 100%;
        margin-bottom: 20px;
    }
    .blog-info h3
    {
        margin-bottom: 20px;
    }  
}

@media(min-width:577px) and (max-width:768px)
{
    .blog-info
    {
        width: 50%;
        margin-bottom: 20px;
    }
    .blog-info h3
    {
        margin-bottom: 20px;
    }  
}
@media(min-width:769px) and (max-width:992px)
{
    .blog-info
    {
        width: 50%;
        margin-bottom: 30px;
    }
    .blog-info h3
    {
        margin-bottom: 30px;
        
    }  
}
@media(min-width:993px) and (max-width:1270px) 
{
    .blog-info
    {
        width: 50%;
        margin-bottom: 30px;
    }
    .blog-info h3
    {
        margin-bottom: 30px;
        
    }     
}
/* End Blog */

/* Start Footer */
.footer
{
    background-color: #353330;
    text-align: center;
    padding: 80px 0;
}
.footer p
{
    color: #777;
    margin: 20px 0 15px 0;
}
.footer ul 
{
    margin: 0;
}
.footer ul li
{
    display: inline-block;
}
/* End Footer */
